@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes typewriter {
  0% {
    /* transform: translateY(-10px); */
    color: dodgerblue;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    color: white;
  }
}
@keyframes fadePicIn {
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slideIn {
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInBottom {
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideFromRight {
  0% {
    color: transparent;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    color: white;
  }
}
.hidden-button-projects {
  opacity: 0;
}
.hidden-span-title,
.hidden-description,
.hidden-tech {
  opacity: 0;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 5px;
  padding: 5px;
}
.visible-b{
  opacity: 0;
  color: transparent;
  z-index: -1;
  transform: translateX(-100%);
  animation: slideFromRight 1s ease-in-out forwards;
}
.visible-span-title {
  z-index: -1;
  opacity: 0;
  transform: translateY(-100%);
  animation: typewriter 1s ease-in-out forwards;
}
.visible-description {
  z-index: -1;
  opacity: 0;
  transform: translateX(100%);
  transform-origin: right;
  animation: slideIn 1s ease-in-out forwards;
}
.visible-tech {
  z-index: -1;
  opacity: 0;
  transform: translateY(100%);
  animation: slideInBottom 1s ease-in-out forwards;
}
.description {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.h-80dvh {
  height: 82dvh;
}
.h-90dvh {
  height: 90dvh;
}
.h-95dvh {
  height: 95dvh;
}
.h-70dvh {
  height: 70dvh;
}
.h-120dvh {
  height: 115dvh;
}
.project-content {
  display: flex !important;
  align-items: center;
  height: fit-content;
}
#carousel {
  width: 97%;
}
@media screen and (max-width: 1400px) {
  .h-80dvh {
    height: 70dvh;
  }
  .h-90dvh {
    height: 80dvh;
  }
  .h-120dvh {
    height: 100dvh;
  }
}
@media screen and (max-width: 1300px) {
  .h-80dvh {
    height: 77dvh;
  }
  .h-90dvh {
    height: 80dvh;
  }
  .h-120dvh {
    height: 100dvh;
  }
}
@media screen and (max-width: 1200px) {
  .h-80dvh {
    height: 77dvh;
  }
  .h-90dvh {
    height: 85dvh;
  }
  .h-120dvh {
    height: 110dvh;
  }
}
@media screen and (max-width: 1100px) {
  .h-80dvh {
    height: 130dvh;
  }
  .h-90dvh {
    height: 130dvh;
  }
  .h-120dvh {
    height: 150dvh;
  }
  .project-content {
    flex-direction: column !important;
    justify-content: center;
    /* outline: 1px solid rgb(51, 51, 51); */
    background-color: rgb(41, 40, 40);

  }
  .hidden-span-title,
  .hidden-description,
  .hidden-tech {
    border: 1px solid rgb(51, 51, 51);
  }
  img,
  .description {
    width: 98% !important;
  }
  img {
    height: 60dvh !important;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 800px) {
  .h-80dvh {
    height: 105dvh;
  }
  .h-90dvh {
    height: 115dvh;
  }
  .h-120dvh {
    height: 140dvh;
  }
  img,
  .description {
    width: 95% !important;
  }
  img {
    height: 50dvh !important;
  }
}

@media screen and (max-width: 500px) {
  .project-content {
    width: 100%;
  }
  img,
  .description {
    width: 100% !important;
  }
  .hidden-picture {
    opacity: 0;
  }
  .visible-pic {
    transform: translateX(-100%);
    z-index: 2;
    animation: fadePicIn 1s ease-in-out forwards;
  }
}
@media screen and (max-width: 480px) {
  .h-80dvh {
    height: 130dvh;
  }
  .h-90dvh {
    height: 145dvh;
  }
  .h-120dvh {
    height: 160dvh;
  }
  img,
  .description {
    width: 95% !important;
  }
  img {
    height: 50dvh !important;
  }
}
