@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}


.w-50p {
  width: 50%;
}
.m-w-90p {
  min-width: 90%;
}
#button {
  padding: 0;
}

.backend-closed::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 10;
  width: 50%;
  background-color: #e0234e;
  transform-origin: left;
  transform: scaleX(0%);
  transition: 0.5s ease-in-out;
}
.backend-closed::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 10;
  width: 50%;
  background-color: #e0234e;
  transform-origin: right;
  transform: scaleX(0%);
  transition: 0.5s ease-in-out;
}
.backend-curtain::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 10;
  width: 50%;
  transform-origin: left;
  background-color: #e0234e;
  transform: scaleX(100%);
  transition: 0.5s ease-in-out;
}
.backend-curtain::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 10;
  width: 50%;
  transform-origin: right;
  background-color: #e0234e;
  transform: scaleX(100%);
  transition: 0.5s ease-in-out;
}
.frontend-closed::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 10;
  width: 50%;
  background-color: rgb(97, 219, 251);
  transform-origin: left;
  transform: scaleX(0%);
  transition: 0.5s ease-in-out;
}
.frontend-closed::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 10;
  width: 50%;
  background-color: rgb(97, 219, 251);
  transform-origin: right;
  transform: scaleX(0%);
  transition: 0.5s ease-in-out;
}
.frontend-curtain::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  z-index: 10;
  width: 50%;
  transform-origin: left;
  background-color: rgb(97, 219, 251);
  transform: scaleX(100%);
  transition: 0.5s ease-in-out;
}
.frontend-curtain::after {
  content: "";
  position: absolute;
  height: 100%;
  right: 0;
  z-index: 10;
  width: 50%;
  transform-origin: right;
  background-color: rgb(97, 219, 251);
  transform: scaleX(100%);
  transition: 0.5s ease-in-out;
}
.backend-text {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}
.cards-all {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  outline: 1px solid rgb(21, 21, 21);
  flex-basis: 30dvw;
}
.icon-cards {
    width : 8rem;
    height : 8rem;
 }
.hoverable-right::before {
  content: "";
  position: absolute;
  background-color: #e0234e;
  width: 100%;
  right: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  transition:.2s ease-in-out;
}
.hoverable-right:hover::before {
  content: "";
  position: absolute;
  background-color: #e0234e;
  height: 100%;
  right: 0;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  z-index: -1;
  transform: scaleX(100%);
  transition:.2s ease-in-out;
  transform-origin: right;
}
.hoverable-left::before {
  content: "";
  position: absolute;
  background-color: #e0234e;
  width: 100%;
  left: left;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition:.2s ease-in-out;
}
.hoverable-left:hover::before {
  content: "";
  position: absolute;
  background-color: #e0234e;
  height: 100%;
  left: left;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  z-index: -1;
  transform: scaleX(100%);
  transition:.2s ease-in-out;
  transform-origin: left;
}
.hoverable-right-f::before {
  content: "";
  position: absolute;
  background-color: rgb(97, 219, 251);
  width: 100%;
  right: 0;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  transition:.2s ease-in-out;
}
.hoverable-right-f:hover::before {
  content: "";
  position: absolute;
  background-color: rgb(97, 219, 251);
  height: 100%;
  right: 0;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  z-index: -1;
  transform: scaleX(100%);
  transition:.2s ease-in-out;
  transform-origin: right;
}
.hoverable-left-f::before {
  content: "";
  position: absolute;
  background-color: rgb(97, 219, 251);
  width: 100%;
  left: left;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition:.2s ease-in-out;
}
.hoverable-left-f:hover::before {
  content: "";
  position: absolute;
  background-color: rgb(97, 219, 251);
  height: 100%;
  left: left;
  border-top-right-radius: 3rem;
  border-bottom-right-radius: 3rem;
  z-index: -1;
  transform: scaleX(100%);
  transition:.2s ease-in-out;
  transform-origin: left;
}
.unrendered-card {
  opacity: 0;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.rendered-card {
  opacity: 1;
  transform: scale(100%);
  transition: all 1s ease-in-out;
}
.fade-in-class {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 500ms;
}
@media screen and (max-width: 800px) {
  #button {
    font-size: 10px;
    width: 92%;
  }
}
